#languageMenu{
    -fx-background-color: orange;
}

#languageItem{
    -fx-background-color : orange;
}

#timeItem{
    -fx-background-color : orange;
}

#timeMenu{
    -fx-background-color: orange;
}

#menu {
    -fx-background-color: orange;
}
